# Konfiguracja API
AIRLY_API_KEY=your_airly_api_key_here
AIRLY_STATION_IDS=123,456
IMGW_STATION_IDS=poznan,warszawa

# Konfiguracja Bazy Danych
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=weather

# Inne
LOGGING_LEVEL=INFO
AIRLY_API_URL=https://airly.com/api/v2/measurements/installation/
IMGW_API_URL=https://danepubliczne.imgw.pl/api/data/synop/station/
